.frame{
    background-color: #1ABC9C;
    min-height: 80vh;
}

h1{
    font-size: 40px;
    font-weight: 700;
}

.line{
    height: 4px;
    width: 80px;
    background-color: white;
}

p{
    font-weight: 400;
    font-size: 16px;
}